<ng-container *ngIf="!loading">
    <div class="container">
        <mat-card>
            <mat-card-content>
                <div class="containerX" fxLayout="row wrap" fxLayoutAlign="space-between" fxLayoutAlign.xs="center">
                    <div>
                        <mat-form-field>
                            <mat-label>{{calcModes.labelText}}</mat-label>
                            <mat-select [(ngModel)]='selectedCalcMode' (ngModelChange)="calculate()">
                                <mat-option *ngFor="let op of calcModes.options" [value]="op.id">
                                    {{op.text}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div>
                        <a style="cursor: pointer" (click)="exportExcel()" class="download-btn">
                            Excel indir <mat-icon>cloud_download</mat-icon>
                        </a>
                    </div>
                    <div>
                        <mat-slide-toggle class="example-margin" [(ngModel)]='showEmployerCosts'
                                          (change)="toggleCompanyRelatedColumns(showEmployerCosts)">
                            İşveren Maliyeti Göster
                        </mat-slide-toggle>
                    </div>
                </div>

                <div class="containerX" fxLayout="row wrap" fxLayoutAlign="space-between" fxLayoutAlign.xs="center">
                    <div>
                        <mat-form-field>
                            <mat-label>Yıl</mat-label>
                            <mat-select [(ngModel)]="selectedYear" (ngModelChange)="calculate()">
                                <mat-option *ngFor="let p of yearParameters" [value]="p">
                                    {{p.year}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <mat-form-field>
                        <mat-label>{{AGIOptions.labelText}}</mat-label>
                        <mat-select [(ngModel)]='selectedAGIOption' [disabled]="!selectedEmployeeType.AGIApplicable || selectedYear.minWageEmployeeTaxExemption"
                                    (ngModelChange)="calculate()">
                            <mat-option *ngFor="let op of AGIOptions.options" [value]="op">
                                {{op.text}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div>
                        <mat-form-field>
                            <mat-label>{{disabilityOptions.labelText}}</mat-label>
                            <mat-select [(ngModel)]='selectedDisability' (ngModelChange)="calculate()">
                                <mat-option *ngFor="let op of disabilityOptions.options" [value]="op">
                                    {{op.text}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field>
                            <mat-label>{{employeeTypes.labelText}}</mat-label>
                            <mat-select [(ngModel)]='selectedEmployeeType' (ngModelChange)="calculate()">
                                <mat-option *ngFor="let op of employeeTypes.options" [value]="op"
                                            matTooltip="{{op.desc}}"
                                >
                                    {{op.text}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field>
                            <mat-label>{{employeeEducationTypes.labelText}}</mat-label>
                            <mat-select [(ngModel)]='selectedEmployeeEducationType'
                                        [disabled]="!selectedEmployeeType.employerEducationIncomeTaxExemption"
                                        (ngModelChange)="calculate()">
                                <mat-option *ngFor="let op of employeeEducationTypes.options" [value]="op">
                                    {{op.text}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div class="containerX" fxLayout="row wrap" fxLayoutAlign="space-between" fxLayoutAlign.xs="center">
                    <div>
                        <mat-slide-toggle [(ngModel)]='isPensioner' class="example-margin" (ngModelChange)="calculate()">
                            Emekli Çalışan
                        </mat-slide-toggle>
                    </div>
                    <div>
                        <mat-slide-toggle [(ngModel)]='applyMinWageTaxExemption' [disabled]="!selectedYear.minWageEmployeeTaxExemption" class="example-margin" (ngModelChange)="calculate()">
                            Asgari Ücret İstisnası Uygulansın
                        </mat-slide-toggle>
                    </div>
                    <div>
                        <mat-slide-toggle [(ngModel)]='enableAGICalculation' [disabled]="selectedYear.minWageEmployeeTaxExemption" class="example-margin" (ngModelChange)="calculate()">
                            AGİ Hesapla
                        </mat-slide-toggle>
                    </div>
                    <div>
                        <mat-slide-toggle [disabled]="isPensioner || !selectedEmployeeType.employerSGKDiscount5746Applicable" matTooltip="Sigorta primi işveren payında %5 puanlık indirim uygulansın mı?"
                                          [(ngModel)]='employerDiscount5746' class="example-margin" (ngModelChange)="calculate()">
                            5510/5746 İndirimi
                        </mat-slide-toggle>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>



        <!-- Calculation Table BEGIN -->
        <mat-card class="mat-elevation-z3 calculation-card">
            <mat-card-content>
                <table id="salary-table" mat-table [dataSource]="yearCalculationModel.months" style="width: 100%;">

                    <ng-container matColumnDef="monthName" sticky>
                        <th mat-header-cell *matHeaderCellDef> Ay</th>
                        <td mat-cell *matCellDef="let element"> {{element.monthName}} </td>
                        <td mat-footer-cell *matFooterCellDef> Toplam</td>
                    </ng-container>
                    <!-- INPUTS BEGIN -->
                    <ng-container matColumnDef="dayInput">
                        <th mat-header-cell *matHeaderCellDef style="max-width: 2rem;"> Gün Sayısı</th>
                        <td mat-cell *matCellDef="let element; let i = index;" style="max-width: 2rem;">
                            <mat-form-field>
                                <input type="number" matInput [(ngModel)]="dayCounts[i]" (change)="onDayCountChange(i)" min="0"
                                       max="{{yearCalculationModel.monthDayCount}}">
                            </mat-form-field>
                        </td>
                        <td mat-footer-cell *matFooterCellDef>{{yearCalculationModel.totalWorkDays}}</td>
                    </ng-container>
                    <ng-container matColumnDef="researchAndDevelopmentDayInput">
                        <th mat-header-cell *matHeaderCellDef style="max-width: 2rem;"> Ar-Ge<br>Gün Sayısı</th>
                        <td mat-cell *matCellDef="let element; let i = index;" style="max-width: 2rem;">
                            <mat-form-field>
                                <input type="number" matInput [(ngModel)]="researchAndDevelopmentDayCounts[i]" (change)="onResearchAndDevelopmentDayCountChange(i)" min="0"
                                       max="{{yearCalculationModel.monthDayCount}}" [disabled]="!selectedEmployeeType.researchAndDevelopmentTaxExemption">
                            </mat-form-field>
                        </td>
                        <td mat-footer-cell *matFooterCellDef>{{yearCalculationModel.totalResearchAndDevelopmentWorkedDays}}</td>
                    </ng-container>
                    <ng-container matColumnDef="salaryInput">
                        <th mat-header-cell *matHeaderCellDef style="max-width: 7rem;">

                            Tutar (TL)<br>
                            <mat-slide-toggle *ngIf="selectedCalcMode == 'NET_TO_GROSS'" [(ngModel)]='AGIIncludedNet'
                                              [disabled]="selectedCalcMode != 'NET_TO_GROSS'" (ngModelChange)="calculate()">
                                AGI dahil
                            </mat-slide-toggle>
                        </th>
                        <td mat-cell *matCellDef="let element; let i = index;" style="max-width: 7rem;">
                            <mat-form-field>
                                <input type="text" matInput [(ngModel)]="monthSalaryInputs[i]"
                                       (ngModelChange)="priceInputChanged(i, $event)" currencyMask
                                       [options]="{ prefix: '', thousands: '.', decimal: ',' }">
                            </mat-form-field>
                        </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>
                    <!-- INPUTS END -->
                    <!-- EMPLOYEE-GROUP START -->
                    <ng-container matColumnDef="calculatedGrossSalary">
                        <th mat-header-cell *matHeaderCellDef> Bordroya<br>Esas Brüt</th>
                        <td mat-cell *matCellDef="let element; let i = index;">
                            {{element.calculatedGrossSalary | number : '1.2-2' : 'tr'}} </td>
                        <td mat-footer-cell *matFooterCellDef>
                            {{yearCalculationModel.calculatedGrossSalary | number : '1.2-2' : 'tr'}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="employeeSGKDeduction">
                        <th mat-header-cell *matHeaderCellDef class="deductions"> Çalışan<br>SGK Primi</th>
                        <td mat-cell *matCellDef="let element" class="deductions">
                            {{element.employeeSGKDeduction | number : '1.2-2' : 'tr'}} </td>
                        <td mat-footer-cell *matFooterCellDef class="deductions">
                            {{yearCalculationModel.employeeSGKDeduction | number : '1.2-2' : 'tr'}} </td>
                    </ng-container>
                    <ng-container matColumnDef="employeeSGKExemption">
                        <th mat-header-cell *matHeaderCellDef class="exemptions">
                            <span class="{{yearCalculationModel.employeeSGKExemption > 0 ? 'active' : 'passive'}}">Çalışan<br>SGK Primi<br>İstinası</span>
                        </th>
                        <td mat-cell *matCellDef="let element" class="exemptions">
                            <span class="{{element.employeeSGKExemption > 0 ? 'active' : 'passive'}}">
                                {{element.employeeSGKExemption | number : '1.2-2' : 'tr'}}
                            </span>
                        </td>
                        <td mat-footer-cell *matFooterCellDef class="exemptions">
                    <span class="{{yearCalculationModel.employeeSGKExemption > 0 ? 'active' : 'passive'}}">
                        {{yearCalculationModel.employeeSGKExemption | number : '1.2-2' : 'tr'}}
                    </span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="employeeUnemploymentInsuranceDeduction">
                        <th mat-header-cell *matHeaderCellDef class="deductions">Çalışan<br>İşsizlik<br>Sigortası</th>
                        <td mat-cell *matCellDef="let element" class="deductions">
                            {{element.employeeUnemploymentInsuranceDeduction | number : '1.2-2' : 'tr'}} </td>
                        <td mat-footer-cell *matFooterCellDef class="deductions">
                            {{yearCalculationModel.employeeUnemploymentInsuranceDeduction | number : '1.2-2' : 'tr'}} </td>
                    </ng-container>
                    <ng-container matColumnDef="employeeUnemploymentInsuranceExemption">
                        <th mat-header-cell *matHeaderCellDef class="exemptions">
                            <span class="{{yearCalculationModel.employeeUnemploymentInsuranceExemption > 0 ? 'active' : 'passive'}}">
                                Çalışan<br>İşsizlik<br>Sigortası<br>İstinası
                            </span>
                        </th>
                        <td mat-cell *matCellDef="let element" class="exemptions">
                            <span class="{{element.employeeUnemploymentInsuranceExemption > 0 ? 'active' : 'passive'}}">
                                {{element.employeeUnemploymentInsuranceExemption | number : '1.2-2' : 'tr'}}
                            </span>
                        </td>
                        <td mat-footer-cell *matFooterCellDef class="exemptions">
                            <span class="{{yearCalculationModel.employeeUnemploymentInsuranceExemption > 0 ? 'active' : 'passive'}}">
                                {{yearCalculationModel.employeeUnemploymentInsuranceExemption | number : '1.2-2' : 'tr'}}
                            </span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="appliedTaxSlicesAsString">
                        <th mat-header-cell *matHeaderCellDef class="deductions"> Vergi<br>Dilimi</th>
                        <td mat-cell *matCellDef="let element" class="deductions">
                            <ng-container *ngIf="element.appliedTaxSlicesAsString">%{{element.appliedTaxSlicesAsString}}
                            </ng-container>
                        </td>
                        <td mat-footer-cell *matFooterCellDef class="deductions"></td>
                    </ng-container>
                    <ng-container matColumnDef="employeeIncomeTax">
                        <th mat-header-cell *matHeaderCellDef class="deductions"> Gelir<br>Vergisi</th>
                        <td mat-cell *matCellDef="let element" class="deductions">
                            {{element.employeeIncomeTax | number : '1.2-2' : 'tr'}}
                        </td>
                        <td mat-footer-cell *matFooterCellDef class="deductions">
                            {{yearCalculationModel.employeeIncomeTax | number : '1.2-2' : 'tr'}} </td>
                    </ng-container>
                    <ng-container matColumnDef="employerIncomeTaxExemptionAmount">
                        <th mat-header-cell *matHeaderCellDef class="exemptions">
                            <span class="{{yearCalculationModel.employerIncomeTaxExemptionAmount > 0 ? 'active' : 'passive'}}">Gelir Vergisi<br>İstisnası</span>
                        </th>
                        <td mat-cell *matCellDef="let element" class="exemptions">
                            <span class="{{element.employerIncomeTaxExemptionAmount > 0 ? 'active' : 'passive'}}">
                                {{element.employerIncomeTaxExemptionAmount | number : '1.2-2' : 'tr'}}
                            </span>
                        </td>
                        <td mat-footer-cell *matFooterCellDef class="exemptions">
                    <span class="{{yearCalculationModel.employerIncomeTaxExemptionAmount > 0 ? 'active' : 'passive'}}">
                        {{yearCalculationModel.employerIncomeTaxExemptionAmount | number : '1.2-2' : 'tr'}}
                    </span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="stampTax">
                        <th mat-header-cell *matHeaderCellDef class="deductions"> Damga<br>Vergisi</th>
                        <td mat-cell *matCellDef="let element" class="deductions"> {{element.stampTax | number : '1.2-2' : 'tr'}}
                        </td>
                        <td mat-footer-cell *matFooterCellDef class="deductions">
                            {{yearCalculationModel.stampTax | number : '1.2-2' : 'tr'}} </td>
                    </ng-container>
                    <ng-container matColumnDef="totalStampTaxExemption">
                        <th mat-header-cell *matHeaderCellDef class="exemptions ">
                            <span class="{{yearCalculationModel.employerStampTaxExemption > 0 ? 'active' : 'passive'}}">
                                Damga<br>Vergisi<br>İstisnası
                            </span>
                        </th>
                        <td mat-cell *matCellDef="let element" class="exemptions">
                            <span class="{{element.employerStampTaxExemption > 0 ? 'active' : 'passive'}}">
                                {{element.employerStampTaxExemption | number : '1.2-2' : 'tr'}}
                            </span>
                        </td>
                        <td mat-footer-cell *matFooterCellDef class="exemptions">
                            <span class="{{yearCalculationModel.employerStampTaxExemption > 0 ? 'active' : 'passive'}}">
                                {{yearCalculationModel.employerStampTaxExemption | number : '1.2-2' : 'tr'}}
                            </span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="AGIAmount">
                        <th mat-header-cell *matHeaderCellDef class="{{selectedYear.minWageEmployeeTaxExemption ? 'exemptions' : ''}}">
                            <span *ngIf="selectedYear.minWageEmployeeTaxExemption" class="{{yearCalculationModel.employeeMinWageTaxExemptionAmount > 0 ? 'active' : 'passive'}}">
                                Asgari Ücret<br>Vergi İstisnası<br>(G.V. + D.V.)
                            </span>
                            <span *ngIf="!selectedYear.minWageEmployeeTaxExemption">
                                AGI
                            </span>
                        </th>
                        <td mat-cell *matCellDef="let element" class="{{selectedYear.minWageEmployeeTaxExemption ? 'exemptions' : ''}}">
                            <span *ngIf="selectedYear.minWageEmployeeTaxExemption" class="{{yearCalculationModel.employeeMinWageTaxExemptionAmount > 0 ? 'active' : 'passive'}}">
                                {{element.employeeMinWageTaxExemptionAmount | number : '1.2-2' : 'tr'}}
                            </span>
                            <span *ngIf="!selectedYear.minWageEmployeeTaxExemption">
                                {{element.AGIAmount | number : '1.2-2' : 'tr'}}
                            </span>
                        </td>
                        <td mat-footer-cell *matFooterCellDef class="{{selectedYear.minWageEmployeeTaxExemption ? 'exemptions' : ''}}">
                            <span *ngIf="selectedYear.minWageEmployeeTaxExemption" class="{{yearCalculationModel.employeeMinWageTaxExemptionAmount > 0 ? 'active' : 'passive'}}">
                                {{yearCalculationModel.employeeMinWageTaxExemptionAmount | number : '1.2-2' : 'tr'}}
                            </span>
                            <span *ngIf="!selectedYear.minWageEmployeeTaxExemption">
                                {{yearCalculationModel.AGIAmount | number : '1.2-2' : 'tr'}}
                            </span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="netSalary">
                        <th mat-header-cell *matHeaderCellDef> Net Ücret</th>
                        <td mat-cell *matCellDef="let element"> {{element.netSalary | number : '1.2-2' : 'tr'}} </td>
                        <td mat-footer-cell *matFooterCellDef> {{yearCalculationModel.netSalary | number : '1.2-2' : 'tr'}} </td>
                    </ng-container>
                    <ng-container matColumnDef="finalNetSalary">
                        <th mat-header-cell *matHeaderCellDef> Maaş</th>
                        <td mat-cell *matCellDef="let element"> {{element.finalNetSalary | number : '1.2-2' : 'tr'}} </td>
                        <td mat-footer-cell *matFooterCellDef> {{yearCalculationModel.finalNetSalary | number : '1.2-2' : 'tr'}}
                        </td>
                    </ng-container>
                    <!-- EMPLOYEE-GROUP END -->
                    <!-- EMPLOYER-GROUP START -->
                    <ng-container matColumnDef="employerSGKDeduction">
                        <th mat-header-cell *matHeaderCellDef class="employer-costs">
                            SGK Payı
                        </th>
                        <td mat-cell *matCellDef="let element" class="employer-costs">
                            {{element.employerSGKDeduction | number : '1.2-2' : 'tr'}} </td>
                        <td mat-footer-cell *matFooterCellDef class="employer-costs">
                            {{yearCalculationModel.employerSGKDeduction | number : '1.2-2' : 'tr'}} </td>
                    </ng-container>
                    <ng-container matColumnDef="employerSGKExemption">
                        <th mat-header-cell *matHeaderCellDef class="exemptions">
                            <span class="{{yearCalculationModel.employerSGKExemption > 0 ? 'active' : 'passive'}}">SGK Payı<br>İstisnası</span>
                        </th>
                        <td mat-cell *matCellDef="let element" class="exemptions">
                            <span class="{{element.employerSGKExemption > 0 ? 'active' : 'passive'}}">
                                {{element.employerSGKExemption | number : '1.2-2' : 'tr'}}
                            </span>
                        </td>
                        <td mat-footer-cell *matFooterCellDef class="exemptions">
                    <span class="{{yearCalculationModel.employerSGKExemption > 0 ? 'active' : 'passive'}}">
                        {{yearCalculationModel.employerSGKExemption | number : '1.2-2' : 'tr'}}
                    </span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="employerUnemploymentInsuranceDeduction">
                        <th mat-header-cell *matHeaderCellDef class="employer-costs">İşsizlik Payı</th>
                        <td mat-cell *matCellDef="let element" class="employer-costs">
                            {{element.employerUnemploymentInsuranceDeduction | number : '1.2-2' : 'tr'}} </td>
                        <td mat-footer-cell *matFooterCellDef class="employer-costs">
                            {{yearCalculationModel.employerUnemploymentInsuranceDeduction | number : '1.2-2' : 'tr'}} </td>
                    </ng-container>
                    <ng-container matColumnDef="employerUnemploymentInsuranceExemption">
                        <th mat-header-cell *matHeaderCellDef class="exemptions">
                            <span class="{{yearCalculationModel.employerUnemploymentInsuranceExemption > 0 ? 'active' : 'passive'}}">İşsizlik Payı<br>İstisnası</span>
                        </th>
                        <td mat-cell *matCellDef="let element" class="exemptions">
                            <span class="{{element.employerUnemploymentInsuranceExemption > 0 ? 'active' : 'passive'}}">
                                {{element.employerUnemploymentInsuranceExemption | number : '1.2-2' : 'tr'}}
                            </span>
                        </td>
                        <td mat-footer-cell *matFooterCellDef class="exemptions">
                    <span class="{{yearCalculationModel.employerUnemploymentInsuranceExemption > 0 ? 'active' : 'passive'}}">
                        {{yearCalculationModel.employerUnemploymentInsuranceExemption | number : '1.2-2' : 'tr'}}
                    </span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="employerTotalSGKCost">
                        <th mat-header-cell *matHeaderCellDef class="employer-costs final">Toplam<br>SGK Ödemesi</th>
                        <td mat-cell *matCellDef="let element" class="employer-costs final">
                            {{element.employerTotalSGKCost | number : '1.2-2' : 'tr'}} </td>
                        <td mat-footer-cell *matFooterCellDef class="employer-costs final">
                            {{yearCalculationModel.employerTotalSGKCost | number : '1.2-2' : 'tr'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="employerFinalIncomeTax">
                        <th mat-header-cell *matHeaderCellDef class="employer-costs final" matTooltip="AGİ hariç gelir vergisi">
                            Gelir Vergisi<br>Ödemesi<br>
                            <!--              <mat-slide-toggle [(ngModel)]="AGIIncludedTax"
                                                            (ngModelChange)="calculate()"
                                                            matTooltip="AGİ'yi gelir vergisinden çıkar"
                                          >
                                            AGI hariç
                                          </mat-slide-toggle>-->
                        </th>
                        <td mat-cell *matCellDef="let element" class="employer-costs final">
                            {{element.employerFinalIncomeTax | number : '1.2-2' : 'tr'}} </td>
                        <td mat-footer-cell *matFooterCellDef class="employer-costs final">
                            {{yearCalculationModel.employerFinalIncomeTax | number : '1.2-2' : 'tr'}} </td>
                    </ng-container>
                    <ng-container matColumnDef="employerFinalStampTax">
                        <th mat-header-cell *matHeaderCellDef class="employer-costs final">Damga Vergi<br>Ödemesi</th>
                        <td mat-cell *matCellDef="let element" class="employer-costs final">
                            {{element.employerStampTax | number : '1.2-2' : 'tr'}} </td>
                        <td mat-footer-cell *matFooterCellDef class="employer-costs final">
                            {{yearCalculationModel.employerStampTax | number : '1.2-2' : 'tr'}} </td>
                    </ng-container>
                    <ng-container matColumnDef="employerTotalCost">
                        <th mat-header-cell *matHeaderCellDef class="employer-costs">Toplam<br>Maliyet</th>
                        <td mat-cell *matCellDef="let element" class="employer-costs">
                            {{element.employerTotalCost | number : '1.2-2' : 'tr'}} </td>
                        <td mat-footer-cell *matFooterCellDef class="employer-costs">
                            {{yearCalculationModel.employerTotalCost | number : '1.2-2' : 'tr'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="employerSemesterTotalCost">
                        <th mat-header-cell *matHeaderCellDef class="employer-costs vertical-col"><span>Dönem Ortalaması</span>
                        </th>
                        <td mat-cell *matCellDef="let element; let i=index" [attr.rowspan]="6"
                            [style.display]="i%6 != 0 ? 'none' : ''" class="vertical-col employer-costs">
                            <span>{{yearCalculationModel.yearHalfEmployerAvgTotalCost((i < 6) ? 'first' : 'second') | number : '1.2-2' : 'tr'}}</span>
                        </td>
                        <td mat-footer-cell *matFooterCellDef class="employer-costs"></td>
                    </ng-container>
                    <ng-container matColumnDef="employerSemesterTubitakTotalCost">
                        <th mat-header-cell *matHeaderCellDef class="employer-costs vertical-col"><span>Tübitak Dön. Ort.</span>
                        </th>
                        <td mat-cell *matCellDef="let element; let i=index" [attr.rowspan]="6"
                            [style.display]="i%6 != 0 ? 'none' : ''" class="vertical-col employer-costs">
                            <span>{{yearCalculationModel.getSemesterTubitakAvgCost((i < 6) ? 'first' : 'second') | number : '1.2-2' : 'tr'}}</span>
                        </td>
                        <td mat-footer-cell *matFooterCellDef class="employer-costs"></td>
                    </ng-container>
                    <!-- EMPLOYER-GROUP END -->
                    <!-- AVG fields footer row BEGIN -->
                    <ng-container matColumnDef="avgTitle" sticky>
                        <td mat-footer-cell *matFooterCellDef> Aylık Ortalama</td>
                    </ng-container>
                    <ng-container matColumnDef="avgWorkDays">
                        <td mat-footer-cell *matFooterCellDef>{{yearCalculationModel.avgWorkDays | number : '1.0-0'}}</td>
                    </ng-container>
                    <ng-container matColumnDef="avgResearchAndDevelopmentWorkedDays">
                        <td mat-footer-cell *matFooterCellDef>{{yearCalculationModel.avgResearchAndDevelopmentWorkedDays | number : '1.0-0'}}</td>
                    </ng-container>
                    <ng-container matColumnDef="userInput">
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>
                    <ng-container matColumnDef="avgCalculatedGrossSalary">
                        <td mat-footer-cell *matFooterCellDef>
                            {{yearCalculationModel.avgCalculatedGrossSalary | number : '1.2-2' : 'tr'}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="avgEmployeeSGKDeduction">
                        <td mat-footer-cell *matFooterCellDef class="deductions">
                            {{yearCalculationModel.avgEmployeeSGKDeduction | number : '1.2-2' : 'tr'}} </td>
                    </ng-container>
                    <ng-container matColumnDef="avgEmployeeSGKExemption">
                        <td mat-footer-cell *matFooterCellDef class="exemptions">
                    <span class="{{yearCalculationModel.avgEmployeeSGKExemption > 0 ? 'active' : 'passive'}}">
                        {{yearCalculationModel.avgEmployeeSGKExemption | number : '1.2-2' : 'tr'}}
                    </span>
                    </ng-container>
                    <ng-container matColumnDef="avgEmployeeUnemploymentInsuranceDeduction">
                        <td mat-footer-cell *matFooterCellDef class="deductions">
                            {{yearCalculationModel.avgEmployeeUnemploymentInsuranceDeduction | number : '1.2-2' : 'tr'}} </td>
                    </ng-container>
                    <ng-container matColumnDef="avgEmployeeUnemploymentInsuranceExemption">
                        <td mat-footer-cell *matFooterCellDef class="exemptions">
                    <span class="{{yearCalculationModel.avgEmployeeUnemploymentInsuranceExemption > 0 ? 'active' : 'passive'}}">
                        {{yearCalculationModel.avgEmployeeUnemploymentInsuranceExemption | number : '1.2-2' : 'tr'}}
                    </span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="avgAppliedTaxSlicesAsString">
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>
                    <ng-container matColumnDef="avgEmployeeIncomeTax">
                        <td mat-footer-cell *matFooterCellDef class="deductions">
                            {{yearCalculationModel.avgEmployeeIncomeTax | number : '1.2-2' : 'tr'}} </td>
                    </ng-container>
                    <ng-container matColumnDef="avgEmployerIncomeTaxExemptionAmount">
                        <td mat-footer-cell *matFooterCellDef class="exemptions">
                    <span class="{{yearCalculationModel.avgEmployerIncomeTaxExemptionAmount > 0 ? 'active' : 'passive'}}">
                        {{yearCalculationModel.avgEmployerIncomeTaxExemptionAmount | number : '1.2-2' : 'tr'}}
                    </span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="avgStampTax">
                        <td mat-footer-cell *matFooterCellDef class="deductions">
                            {{yearCalculationModel.avgStampTax | number : '1.2-2' : 'tr'}} </td>
                    </ng-container>
                    <ng-container matColumnDef="avgTotalStampTaxExemption">
                        <td mat-footer-cell *matFooterCellDef class="exemptions">
                    <span class="{{yearCalculationModel.avgEmployerStampTaxExemption > 0 ? 'active' : 'passive'}}">
                        {{yearCalculationModel.avgEmployerStampTaxExemption | number : '1.2-2' : 'tr'}}
                    </span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="avgAGIAmount">
                        <td mat-footer-cell *matFooterCellDef class="{{selectedYear.minWageEmployeeTaxExemption ? 'active' : 'passive'}}">
                            <span *ngIf="selectedYear.minWageEmployeeTaxExemption" class="{{yearCalculationModel.avgEmployeeMinWageTaxExemptionAmount > 0 ? 'active' : 'passive'}}">
                                {{yearCalculationModel.avgEmployeeMinWageTaxExemptionAmount | number : '1.2-2' : 'tr'}}
                            </span>
                            <span *ngIf="!selectedYear.minWageEmployeeTaxExemption">
                                {{yearCalculationModel.avgAGIAmount | number : '1.2-2' : 'tr'}}
                            </span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="avgNetSalary">
                        <td mat-footer-cell *matFooterCellDef> {{yearCalculationModel.avgNetSalary | number : '1.2-2' : 'tr'}} </td>
                    </ng-container>
                    <ng-container matColumnDef="avgFinalNetSalary">
                        <td mat-footer-cell *matFooterCellDef> {{yearCalculationModel.avgFinalNetSalary | number : '1.2-2' : 'tr'}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="avgEmployerSGKDeduction">
                        <td mat-footer-cell *matFooterCellDef class="employer-costs">
                            {{yearCalculationModel.avgEmployerSGKDeduction | number : '1.2-2' : 'tr'}} </td>
                    </ng-container>
                    <ng-container matColumnDef="avgEmployerSGKExemption">
                        <td mat-footer-cell *matFooterCellDef class="exemptions">
                    <span class="{{yearCalculationModel.avgEmployerSGKExemption > 0 ? 'active' : 'passive'}}">
                        {{yearCalculationModel.avgEmployerSGKExemption | number : '1.2-2' : 'tr'}}
                    </span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="avgEmployerUnemploymentInsuranceDeduction">
                        <td mat-footer-cell *matFooterCellDef class="employer-costs">
                            {{yearCalculationModel.avgEmployerUnemploymentInsuranceDeduction | number : '1.2-2' : 'tr'}} </td>
                    </ng-container>
                    <ng-container matColumnDef="avgEmployerUnemploymentInsuranceExemption">
                        <td mat-footer-cell *matFooterCellDef class="exemptions">
                    <span class="{{yearCalculationModel.avgEmployerUnemploymentInsuranceExemption > 0 ? 'active' : 'passive'}}">
                        {{yearCalculationModel.avgEmployerUnemploymentInsuranceExemption | number : '1.2-2' : 'tr'}}
                    </span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="avgEmployerTotalSGKCost">
                        <td mat-footer-cell *matFooterCellDef class="employer-costs final">
                            {{yearCalculationModel.avgEmployerTotalSGKCost | number : '1.2-2' : 'tr'}} </td>
                    </ng-container>
                    <ng-container matColumnDef="avgEmployerFinalIncomeTax">
                        <td mat-footer-cell *matFooterCellDef class="employer-costs final">
                            {{yearCalculationModel.avgEmployerFinalIncomeTax | number : '1.2-2' : 'tr'}} </td>
                    </ng-container>
                    <ng-container matColumnDef="avgEmployerStampTax">
                        <td mat-footer-cell *matFooterCellDef class="employer-costs final">
                            {{yearCalculationModel.avgEmployerStampTax | number : '1.2-2' : 'tr'}} </td>
                    </ng-container>
                    <ng-container matColumnDef="avgEmployerTotalCost">
                        <td mat-footer-cell *matFooterCellDef [attr.colspan]="3" class="employer-costs">
                            {{yearCalculationModel.avgEmployerTotalCost | number : '1.2-2' : 'tr'}} </td>
                    </ng-container>
                    <!-- AVG fields footer row END -->

                    <ng-container matColumnDef="first-group">
                        <th mat-header-cell *matHeaderCellDef class="group-header" [attr.colspan]="5">

                        </th>
                    </ng-container>

                    <ng-container matColumnDef="second-group">
                        <th mat-header-cell *matHeaderCellDef class="group-header deductions" [attr.colspan]="9">
                            Yasal Kesintiler
                        </th>
                    </ng-container>
                    <ng-container matColumnDef="third-group">
                        <th mat-header-cell *matHeaderCellDef class="group-header" [attr.colspan]="3"></th>
                    </ng-container>
                    <ng-container matColumnDef="forth-group">
                        <th mat-header-cell *matHeaderCellDef class="group-header employer-costs"
                            [attr.colspan]="forthGroupColCount"> İşveren Maliyeti
                        </th>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="groupHeaderDisplayedColumns"></tr>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
                    <tr mat-footer-row *matFooterRowDef="displayedAvgColumns"></tr>

                </table>
            </mat-card-content>
        </mat-card>
        <!-- Calculation Table END -->
    </div>
</ng-container>
