.group-header{
    text-align: center;
    font-size: 1rem;
}
.verticalCol {
    width: 2rem;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: rgba(0, 0, 0, .12);
    text-align: center;

    > span {
        transform-origin: 50% 50%;
        transform: rotate(90deg);
        display: inline-block;
    }
  }

  .deductions {
    color: #f52300;
  }

  .employerCosts {
    color: #04ad8c;
  }

  .mat-footer-row,
  .mat-header-row {
    font-weight: 500;
  }

  tr.mat-footer-row {
    background-color: #efefef;
  }

  th > .mat-form-field, td > .mat-form-field, th > .mat-slide-toggle{
    width: 90%;
    margin-top: 0.5rem;
  }

  th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type{
      padding-right: 0;
  }
  th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type{
    padding-left: 0;
  }

  tr.mat-row:hover {
    background: whitesmoke;
  }
  .calculation-card{
      .mat-card-content{
      overflow-x: auto;
      }
  }
  .th.mat-header-cell, td.mat-cell, td.mat-footer-cell{
      min-width: 5rem;
  }