/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

$theme: mat.define-theme();

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html {
  --mat-table-footer-supporting-text-weight: 500;
  --mdc-elevated-card-container-elevation: 0 3px 3px -2px rgba(0, 0, 0, .2), 0 3px 4px 0 rgba(0, 0, 0, .14), 0 1px 8px 0 rgba(0, 0, 0, .12);
  --mat-select-trigger-text-size: 14px;
  --mat-select-trigger-text-line-height: 18px;
  --mat-option-label-text-line-height: 18px;
  --mat-option-label-text-size: 14px;

  --mdc-filled-text-field-label-text-size: 14px;
}

.mat-mdc-header-cell {
  font-size: 12px;
}

.calculation-card {
  .mat-card-content {
    overflow-x: auto;
  }
}

.deductions {
  color: #f52300;
}

.exemptions {
  > .active {
    color: #1b00ff;
  }
}

.employer-costs {
  color: #04ad8c;

  &.final {
    color: #ffa012;
  }
}

tr.mat-mdc-footer-row {
  background-color: #efefef;
}

tr.mat-mdc-row:hover {
  background: whitesmoke;
}

.download-btn {
  color: #04ad8c;
  font-size: 22px;
  display: flex;
  align-items: center;

  mat-icon {
    transform: scale(1.2);
    margin-left: 10px;
  }
}

.containerX {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
